<% if current_user %>
   Welcome <%= current_user.email %> <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
   <%= link_to "Sign Up", new_user_registration_path %>
   <%= link_to "Log In", new_user_session_path %>
   <%= link_to "Log In with Twitter", user_omniauth_authorize_path(:twitter) %>
<% end %>

   <div id="header_pic">
      <%= image_tag "shrimp_dinner.jpg" %>
   </div>
