
  <h2><%= link_to profile.f_name + "'s Profile", profile_path(current_user)  %></h2>
  <%= image_tag @profile.avatar.url, :id => "avatar" %>
  <p>Name: <%= profile.f_name %> <%= profile.l_name %></p>

   <%= button_to 'Edit Profile', edit_profile_path(current_user), method: :get, :class => "form_button" %><br>
  <h2><%= profile.f_name %>'s Recipes</h2>

  <ol>
  <% @profile.user.recipes.each do |recipe| %>
    <li class= "fav_recipes"> <%= link_to recipe.title, "/recipes/individual_recipe/#{recipe.api_id}" %></li>
  <% end %>
  </ol>
<%# Insert links to recipes here -%>

<%= button_to "Cancel my account", "/users/#{current_user.id}/delete", method: :delete, :class => "form_button" %>
