<div id="banner">
  <h2><%= link_to "What's 4 Dinner", recipes_index_path %></h2>
</div>
<div id="profile_wrapper">
   <h2>Edit Your Profile</h2>
   <%= form_for @profile do |f| %>
   <%= f.label :f_name, "First Name" %>
   <%= f.text_field :f_name %>
   <br>
   <%= f.label :l_name, "Last Name" %>
   <%= f.text_field :l_name %>
   <br>
   <%= f.submit :update %>
   <% end %>
</div>
