<div id="banner">
  <h2><%= link_to "What's 4 Dinner", recipes_path %></h2>
</div>
<h2>Create Your Profile</h2>
<%= form_for @profile do |f| %>
<%= f.label :f_name %>
<%= f.text_field :f_name %>
<%= f.label :l_name %>
<%= f.text_field :l_name %>
<%= f.submit :create %>
<% end %>
