<div id="banner">
  <h2><%= link_to "What's 4 Dinner", recipes_path %></h2>
</div>
<span id="flashes">
  <%= link_to "Start Cooking", recipes_path %> <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</span>
<div id="profile_wrapper">
  <h2><%= @profile.f_name %>'s Profile</h2>
  <p>Name: <%= @profile.f_name %> <%= @profile.l_name %></p>
  <div id="edit_button">
     <%= link_to 'Edit Profile', edit_profile_path(current_user), method: :get %>
   </div>
  <div id="delete_button">
     <%= link_to "Cancel My Account", "/users/#{current_user.id}/delete", method: :delete %>
   </div>

  <h2><%= @profile.f_name %>'s Recipes</h2>

<ol>
  <% @profile.user.recipes.each do |recipe| %>
      <li> <%= link_to recipe.title, "/recipes/individual_recipe/#{recipe.api_id}" %></li>  <% end %>
  </ol>
</div>
