
<div id="banner">
  <h2><%= link_to "Search Another Recipe", recipes_path, class: "searchlink" %><%= link_to "What's 4 Dinner", root_path %>
   </h2>
      
</div>
<div id="recipe_wrapper">
    <div id="recipe_title">
        <%= @recipe.title  %>
    </div>
    <br>
    <div id="pic_and_ing">
        <%= image_tag(@recipe.image, :alt => "recipe picture", :id => "recipe_picture") %>
        <ul>
            <% @extended_ing.each do |key| %>
                <li><%= key.original_string %></li>
            <% end %>
        </ul>
    </div>
    <div id="recipe_instructions">
       <%= raw @recipe.instructions %>
    </div>
    <br>
    <div id="diet_details">
        Vegetarian:
             <% if @recipe.vegetarian === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
        <br>
        Vegan:
             <% if @recipe.vegan === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
        <br>
        Gluten Free:
             <% if @recipe.gluten_free === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
        <br>
        Dairy Free:
             <% if @recipe.dairy_free === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
    </div>
<br>
 <div id="follow_form">
  <%if UserRecipe.where(user_id: current_user.id, recipe_id: @recipe.id)%>
      <%= form_tag('/unfavorite_recipe', :id => 'unfavoriteForm', remote: true) do %>
          <%= hidden_field_tag 'recipe_id', @recipe.id %>
        <%= submit_tag "Remove this Recipe from my Favorites!", id: "unfavorite_submit" %>
        <% end %>
  <%else%>
       <%= form_tag('/favorite_recipe', :id => 'favoriteForm', remote: true) do %>
      <%= hidden_field_tag 'recipe_id', @recipe.id %>
        <%= submit_tag "Add this Recipe to my Favorites!", id: "favorite_submit" %>
     <% end %>
  <% end %>
  </div>

