
<%= @title  %>

<br>

<%= image_tag(@image, :alt => "recipe picture", size: '200x200') %> 
<br>

<%= raw @recipe.instructions %>



<ul>
<% @extended_ing.each do |key| %>
	<li><%=	key.original_string %></li>
<% end %>
</ul>





<br>

<%= @recipe.vegetarian %>

<br>



<br>


