
<%= @title  %>

<br>

<%= image_tag(@image, :alt => "recipe picture", size: '200x200') %>
<br>
<%= raw @resp.body["instructions"] %>


<ul>
<% @resp.body["extendedIngredients"].each do |key| %>
	<li><%=	key["originalString"] %></li>
<% end %>
</ul>
<br>
Vegetarian:
     <% if @resp.body["vegetarian"] === true %>
     <%= "Yes" %>
     <% else %>
     <%= "No" %>
      <%  end %>
<br>
Vegan:
     <% if @resp.body["vegan"] === true %>
     <%= "Yes" %>
     <% else %>
     <%= "No" %>
      <%  end %>
<br>
Gluten Free:
     <% if @resp.body["glutenFree"] === true %>
     <%= "Yes" %>
     <% else %>
     <%= "No" %>
      <%  end %>
<br>
Dairy Free:
     <% if @resp.body["dairyFree"] === true %>
     <%= "Yes" %>
     <% else %>
     <%= "No" %>
      <%  end %>
<br>

<br>


