
<%= @title  %>

<br>

<%= image_tag(@image, :alt => "recipe picture", size: '200x200') %> 
<br>
<%= raw @resp.body["instructions"] %>


<ul>
<% @resp.body["extendedIngredients"].each do |key| %>
	<li><%=	key["originalString"] %></li>
<% end %>
</ul>
<br>

<%= @resp.body["vegetarian"] %>

<br>



<br>


