
<div id="banner">
  <h2><%= link_to "Search Another Recipe", recipes_path, class: "searchlink" %><%= link_to "What's 4 Dinner", root_path %>
   </h2>

</div>
<div id="recipe_wrapper">
    <div id="recipe_title">
        <%= @recipe.title  %>
    </div>
    <br>
    <div id="pic_and_ing">
        <%= image_tag(@recipe.image, :alt => "recipe picture", :id => "recipe_picture") %>
        <ul id="ingredient-list">
            <% @extended_ing.each do |key| %>
                <li><%= key.original_string %></li>
            <% end %>
        </ul>
        <div id="extra-info">
        Missing Ingredients: <%= @recipe.missedIngredientCount %><br>
            Included Ingredients: <%= @recipe.usedIngredientCount %><br>
            Ready in <%= @recipe.readyInMinutes %> minutes<br>
       </div>

    </div>
    <%= link_to 'https://twitter.com/intent/tweet?via=whats4dinner&text=I%27m%20hungry%2C%20but%20indecisive%21%20What%20should%20I%20eat%3F&hashtags=whats4dinner&' do %>
         <%= image_tag "twitter_small.png", id: "twitter_bird"%>
      <% end%>
                <a id="twitter_intent" href="https://twitter.com/intent/tweet?via=whats4dinner&text=I%20LOVE%20THIS%20RECIPE%21%20USE%20WHAT%27S%204%20DINNER%21&hashtags=whats4dinner&">I LOVE THIS RECIPE!</a>
    <div id="follow_form">
            <br>
            <br>
                <%if current_user.recipes.find_by(id: @recipe.id)%>

                    <%= form_tag('/unfavorite_recipe', :id => 'unfavoriteForm', remote: true) do %>
                      <%= hidden_field_tag 'recipe_id', @recipe.id %>
                      <%= submit_tag "Remove this Recipe from my Favorites!", id: "unfavorite_submit" %>
                    <% end %>
                <%else%>

                    <%= form_tag('/favorite_recipe', :id => 'favoriteForm', remote: true) do %>
                      <%= hidden_field_tag 'recipe_id', @recipe.id %>
                      <%= submit_tag "Add this Recipe to my Favorites!", id: "favorite_submit" %>
                    <% end %>
                <% end %>
           </div>
    <div id="recipe_instructions">
       <%= raw @recipe.instructions %>
    </div>
    <br>
    <div id="diet_details">
        Vegetarian:
             <% if @recipe.vegetarian === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
        <br>
        Vegan:
             <% if @recipe.vegan === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
        <br>
        Gluten Free:
             <% if @recipe.gluten_free === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
        <br>
        Dairy Free:
             <% if @recipe.dairy_free === true %>
             <%= "Yes" %>
             <% else %>
             <%= "No" %>
              <%  end %>
    </div>

<br>

